<% profit_loss ||= 0 %>

<h1 class="h1-style text-center my-3">My Portfolios</h1>

<div class="table-responsive">
  <table class="table table-light table-bordered table-hover ">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th> 
        <th>Rank</th>       
        <th>1H%</th>
        <th>24H%</th> 
        <th>7D%</th>
        <th>Current Value</th> 
        <th>Total Paid</th>
        <th>Loss/Profit</th>     
        <th>Purchasing Cost</th>
        <th>Amount</th>

      </tr>
    </thead>

    <tbody>
      <% @crypto_portfolios.each do |crypto_portfolio| %>
        <% if crypto_portfolio.user.id == current_user.id %><!-- if user == current user -->
          <% if crypto_portfolio.symbol %><!-- if the symbol exist-->
              <% crypto_portfolio.symbol = crypto_portfolio.symbol.upcase %><!-- then make the crypto symbol upcase -->
          <% end %>
          <tr>  
              <!-- loop through @lookup_crypto-->
            <% for x in @lookup_crypto %>
              <% if crypto_portfolio.symbol == x['symbol']%>
                <td><%= link_to x['name'], crypto_portfolio %></td>
                <td>$<%= number_with_precision(x['price_usd'], precision: 4) %></td>
                <td><%= x['rank'] %></td>
                <td><%= number_to_percentage(x['percent_change_1h'], precision: 2) %></td>                
                <td><%= number_to_percentage(x['percent_change_24h'], precision: 2) %></td>
                <td><%= number_to_percentage(x['percent_change_7d'], precision: 2)%></td>
  

                <td>$<%= x['price_usd'].to_d * crypto_portfolio.amount_owned
                %></td>
                <td><%= number_to_currency(crypto_portfolio.cost_per * crypto_portfolio.amount_owned) %></td>
                <td><%= number_to_currency((x['price_usd'].to_f * crypto_portfolio.amount_owned) -(crypto_portfolio.cost_per * crypto_portfolio.amount_owned )) %></td>
                <% @profit_loss += (x['price_usd'].to_f * crypto_portfolio.amount_owned) -(crypto_portfolio.cost_per * crypto_portfolio.amount_owned )%>

              <% end %>
            <% end %>      
            <td>$<%= crypto_portfolio.cost_per %></td>
            <td><%= crypto_portfolio.amount_owned %></td>


          </tr>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<hr>
<div class="row">
  <div class="col-md-6">
    <%= link_to 'Add New Crypto', new_crypto_portfolio_path %>
  </div>
  <div class="col-md-6 text-right">
    <strong class="font-weight-bold">Total Profits/Loss: <%= number_to_currency @profit_loss %></strong>
  </div>
</div>
